IoTFramework/Sensors/Windows/RackBSimulation.json
[
  {
    "id": "flow_rackB",
    "type": "tab",
    "label": "RackB Telemetry (Production Load)",
    "disabled": false
  },
  {
    "id": "inject_rackB",
    "type": "inject",
    "z": "flow_rackB",
    "name": "Every 10 seconds",
    "repeat": "10",
    "once": true,
    "onceDelay": "1",
    "x": 140,
    "y": 140,
    "wires": [["fn_rackB"]]
  },
  {
    "id": "fn_rackB",
    "type": "function",
    "z": "flow_rackB",
    "name": "RackB – Production Load",
    "func": "// Rack B – Normal production workload\n\nlet cpuLoad = Math.min(100, 35 + Math.random() * 35); // 35–70%\nlet ambient = 24 + Math.random() * 2;\nlet inlet = ambient + cpuLoad * 0.06;\nlet exhaust = inlet + 6 + Math.random() * 2;\n\nconst payload = {\n  rack_id: \"RackB\",\n  cpu_util: Number(cpuLoad.toFixed(2)),\n  power_kw: Number((0.7 + cpuLoad * 0.012).toFixed(2)),\n  ambient_temp_c: Number(ambient.toFixed(2)),\n  inlet_temp_c: Number(inlet.toFixed(2)),\n  exhaust_temp_c: Number(exhaust.toFixed(2)),\n  fan_speed_rpm: Math.round(2200 + cpuLoad * 28),\n  humidity: Number((44 + Math.random() * 6).toFixed(2))\n};\n\nmsg.payload =\n  \"mosquitto_pub -d -q 1 \" +\n  \"-h 192.168.29.21 -p 1883 \" +\n  \"-t v1/devices/me/telemetry \" +\n  \"-u anjutlm67oiegbxbk0h1 \" +\n  \"-m \\\"\" + JSON.stringify(payload).replace(/\"/g, '\\\\\"') + \"\\\"\";\n\nreturn msg;",
    "x": 430,
    "y": 140,
    "wires": [["exec_rackB", "dbg_cmd_B"]]
  },
  {
    "id": "exec_rackB",
    "type": "exec",
    "z": "flow_rackB",
    "name": "Exec mosquitto_pub",
    "command": "",
    "addpay": "payload",
    "x": 720,
    "y": 140,
    "wires": [["dbg_out_B"], ["dbg_err_B"], ["dbg_rc_B"]]
  },
  { "id": "dbg_cmd_B", "type": "debug", "z": "flow_rackB", "name": "CMD", "complete": "payload", "x": 720, "y": 80 },
  { "id": "dbg_out_B", "type": "debug", "z": "flow_rackB", "name": "stdout", "complete": "payload", "x": 980, "y": 100 },
  { "id": "dbg_err_B", "type": "debug", "z": "flow_rackB", "name": "stderr", "complete": "payload", "x": 980, "y": 140 },
  { "id": "dbg_rc_B", "type": "debug", "z": "flow_rackB", "name": "return code", "complete": "payload", "x": 980, "y": 180 }
]
