IoTFramework/Sensors/Windows/RackASimulation.json
[
    {
        "id": "e673fce1aa0decac",
        "type": "tab",
        "label": "RackA Telemetry (MQTT Out)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "broker_rack_a",
        "type": "mqtt-broker",
        "name": "Rack A Broker",
        "broker": "172.23.106.87",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "user": "dbgh5l4z14nfwelfd70z",
        "password": ""
    },
    {
        "id": "9b92f1a3755e3236",
        "type": "inject",
        "z": "e673fce1aa0decac",
        "name": "Every 10 seconds",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "c3fc4672337b5501"
            ]
        ]
    },
    {
        "id": "c3fc4672337b5501",
        "type": "function",
        "z": "e673fce1aa0decac",
        "name": "RackA Telemetry",
        "func": "// RackA telemetry (Node-RED safe – no require)\n\n// Simulated but realistic CPU load\nlet cpuLoad = Math.min(100, Math.max(0, 30 + Math.random() * 50));\n\nlet ambient = 25 + Math.random();\nlet inlet = ambient + cpuLoad * 0.05;\nlet exhaust = inlet + 5 + Math.random();\n\nconst payload = {\n  rack_id: \"RackA\",\n  cpu_util: Number(cpuLoad.toFixed(2)),\n  power_kw: Number((0.5 + cpuLoad * 0.01).toFixed(2)),\n  ambient_temp_c: Number(ambient.toFixed(2)),\n  inlet_temp_c: Number(inlet.toFixed(2)),\n  exhaust_temp_c: Number(exhaust.toFixed(2)),\n  fan_speed_rpm: Math.round(2000 + cpuLoad * 30),\n  humidity: Number((45 + Math.random() * 5).toFixed(2))\n};\n\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "mqtt_out_rack_a"
            ]
        ]
    },
    {
        "id": "mqtt_out_rack_a",
        "type": "mqtt out",
        "z": "e673fce1aa0decac",
        "name": "Pub Rack A",
        "topic": "v1/devices/me/telemetry",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_rack_a",
        "x": 720,
        "y": 140,
        "wires": []
    }
]