IoTFramework/Sensors/RackCSimulation.json
[
  {
    "id": "flow_rackC",
    "type": "tab",
    "label": "RackC Telemetry (AI Server)",
    "disabled": false
  },
  {
    "id": "inject_rackC",
    "type": "inject",
    "z": "flow_rackC",
    "name": "Every 10 seconds",
    "repeat": "10",
    "once": true,
    "onceDelay": "1",
    "x": 140,
    "y": 140,
    "wires": [["fn_rackC"]]
  },
  {
    "id": "fn_rackC",
    "type": "function",
    "z": "flow_rackC",
    "name": "RackC – AI / GPU Load",
    "func": "// Rack C – AI inference / training workload\n\nlet cpuLoad = Math.min(100, 70 + Math.random() * 25); // 70–95%\nlet ambient = 25 + Math.random() * 1.5;\nlet inlet = ambient + cpuLoad * 0.08;\nlet exhaust = inlet + 10 + Math.random() * 3;\n\nconst payload = {\n  rack_id: \"RackC\",\n  workload_type: \"ai_inference\",\n  cpu_util: Number(cpuLoad.toFixed(2)),\n  power_kw: Number((1.8 + cpuLoad * 0.02).toFixed(2)),\n  ambient_temp_c: Number(ambient.toFixed(2)),\n  inlet_temp_c: Number(inlet.toFixed(2)),\n  exhaust_temp_c: Number(exhaust.toFixed(2)),\n  fan_speed_rpm: Math.round(3200 + cpuLoad * 40),\n  humidity: Number((42 + Math.random() * 5).toFixed(2))\n};\n\nmsg.payload =\n  \"mosquitto_pub -d -q 1 \" +\n  \"-h 192.168.29.21 -p 1883 \" +\n  \"-t v1/devices/me/telemetry \" +\n  \"-u svngr613xtq8072xa97i \" +\n  \"-m \\\"\" + JSON.stringify(payload).replace(/\"/g, '\\\\\"') + \"\\\"\";\n\nreturn msg;",
    "x": 430,
    "y": 140,
    "wires": [["exec_rackC", "dbg_cmd_C"]]
  },
  {
    "id": "exec_rackC",
    "type": "exec",
    "z": "flow_rackC",
    "name": "Exec mosquitto_pub",
    "command": "",
    "addpay": "payload",
    "x": 720,
    "y": 140,
    "wires": [["dbg_out_C"], ["dbg_err_C"], ["dbg_rc_C"]]
  },
  { "id": "dbg_cmd_C", "type": "debug", "z": "flow_rackC", "name": "CMD", "complete": "payload", "x": 720, "y": 80 },
  { "id": "dbg_out_C", "type": "debug", "z": "flow_rackC", "name": "stdout", "complete": "payload", "x": 980, "y": 100 },
  { "id": "dbg_err_C", "type": "debug", "z": "flow_rackC", "name": "stderr", "complete": "payload", "x": 980, "y": 140 },
  { "id": "dbg_rc_C", "type": "debug", "z": "flow_rackC", "name": "return code", "complete": "payload", "x": 980, "y": 180 }
]
